<div class="container">
  <div class="container-fluid text-center mt-5">
    <h1>THAY ĐỔI MẬT KHẨU CHO TÀI KHOẢN CẢNH VỆ</h1>
  </div>
  <p-fieldset legend="Thay đổi mật khẩu">
    <form #changePass="ngForm" (ngSubmit)="OnSubmit()">
    <div class="row">
      <div class="col-4">
        <span class="ui-float-label">
          <h6>MẬT KHẨU CŨ</h6>
          <input [ngModelOptions]="{standalone: true}" [(ngModel)]="oldPassword" type="password" pInputText> 
        </span>
      </div>
      <div class="col-4">
        <span class="ui-float-label">
          <h6>MẬT KHẨU MỚI</h6>
          <input [ngModelOptions]="{standalone: true}" [(ngModel)]="newPassword" type="password" pInputText> 
        </span>
        </div>
      <div class="col-4">
        <span class="ui-float-label">
          <h6>NHẬP LẠI MẬT KHẨU MỚI</h6>
          <input [ngModelOptions]="{standalone: true}" [(ngModel)]="newPasswordValidate" type="password" pInputText> 
        </span>
      </div>
    </div>
    <br>
    <div class="text-center">
        <p-button label="Xác nhận"></p-button>
        <!-- <p-button label="Hủy Bỏ" ></p-button> -->
    </div>
    </form>
  </p-fieldset>
</div>