.content {
    background: #fff;
  }
  .config-right {
    float: right;
  }
  .config-left {
    float: left;
  }
  .row-button {
    padding: 15px;
    margin: auto;
    text-align: center;
  }
  
  
  :host >>> .fix-drop-down > .ui-widget {
    height: 35px !important;
    top: -1px !important;
  }
  