
<div class="container-fluid text-center mt-3 mb-3">
  <h1></h1>
</div>
<div></div>
  <div class="container">
    <div class="row" style="margin-top: 20px;">
      <div class="col-sm-6">
        <div class="form-group row">
          <label class="col-sm-6">Người yêu cầu: </label> <div class="col-sm-6"><b>{{rpItemsName}}</b></div>

        </div>

        <div class="form-group row">
          <label class="col-sm-6">Số lượng yêu cầu : </label> <div class=" col-sm-6"><b>{{rpItemsQuantity}}</b></div>

        </div>
      </div>

      <div class="col-sm-6">
        <div class="form-group row">
          <label class="col-sm-6">Ngày yêu cầu:</label> <div class="col-sm-6"><b> {{rpItemsDateRequest }}</b></div>

        </div>

        <div class="form-group row">
          <label class="col-sm-6">Nội dung trình kí: </label><div class="col-sm-6"><b> {{rpItemsMessage}}</b></div>

        </div>
      </div>

      <div class="col-sm-6">
        <div class="form-group row">
          <label class="col-sm-6">Số lượng đáp ứng: </label> <div class="col-sm-6"><b>{{rpItemsQuantityRequest}}</b></div>

        </div>

        <div class="form-group row">
          <label class="col-sm-6">Tổng tiền yêu cầu:</label> <div class="col-sm-6"> <b> {{rpItemsTotalMoney |number:'1.2-2'}}</b> </div>

        </div>
      </div>

      <div class="col-sm-6">
        <div class="form-group row">
          <label class="col-sm-6">Lý do : </label> <div class="col-sm-6"><b>{{ldReasonReject}}</b></div>
        </div>

        <div class="form-group row">
          <label class="col-sm-6">Trạng thái:</label> <div class="col-sm-6"><b> {{convertStatus[statusDtails]}}</b></div>

        </div>
      </div>
      <div class="col-sm-12 mt-2 mb-2"><b>Danh sách văn phòng phẩm</b></div>

      <div class="col-sm-12">
        <p-table [columns]="colsBeta" [value]="listSearchDetails" [totalRecords]="" [paginator]="true"
                 [rows]="10" [resizableColumns]="true"
                 #dt>
          <ng-template pTemplate="colgroup" let-columns>
            <colgroup>
              <col *ngFor="let col of columns" [style.width]="col.width">
            </colgroup>
          </ng-template>
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th *ngFor="let col of columns" pResizableColumn

                  style="text-align: center; font-weight: bold;">
                {{col.header}}
              </th>
            </tr>
          </ng-template>
          <ng-template let-ri="rowIndex" pTemplate="body" let-rowData let-columns="columns">
            <tr>
              <td>{{ri+1}}</td>
              <td style="width: 9rem; text-align: left !important;">{{rowData["fullName"]}}</td>
              <td style="width: 15rem; text-align: center !important;">{{rowData["dateRequest"] | date :'dd/MM/yyyy'}}</td>
              <td style="width: 15rem; text-align: left !important;">{{rowData["stationeryName"]}}</td>
              <td style="width: 9rem; text-align: center !important;">{{rowData["quantity"]}}</td>
              <td style="width: 9rem; text-align: center !important;">{{rowData["price"]  | number:'1.2-2'}}</td>
              <td style="width: 9rem; text-align: center !important;">{{rowData["totalMoney"] | number:'1.2-2'}}</td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage" let-columns>
            <tr>
              <td [attr.colspan]="13" style="text-align: center;">
                Không có dữ liệu
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
      <div class="col-sm-12 mt-2 mb-2"><b>Nhân viên HCĐV đánh giá nhân viên VP TCT</b></div>

      <div class="row mt-2">
        <div class="col-sm-12">
          <div style="text-align: center">
            <p-rating [(ngModel)]="rpRatingVPTCT" [iconOnStyle]="{'color': 'orange', 'font-size': '40px'}" [disabled] ="true"
                      [iconOffStyle]="{'font-size': '40px'}" [cancel]="false"></p-rating>
          </div>
        </div>
      </div>
      <div class="col-sm-12">
        Góp ý
      </div>
      <div class="col-sm-12 ui-fluid">
                   <textarea pInputTextarea [ngModelOptions]="{standalone: true}" disabled="true"
                             [style]="{'width': '100%'}" maxlength="255"
                             [(ngModel)]="rpFeedbackToVPTCT"></textarea>
      </div>
      <div class="col-sm-12 mt-2 mb-2"><b>Nhân viên VP TCT đánh giá nhân viên HCĐV</b></div>
      <div class="row mt-2">
        <div class="col-sm-12">
          <div style="text-align: center">
            <p-rating [(ngModel)]="rpRatingHCDV" [iconOnStyle]="{'color': 'orange', 'font-size': '40px'}" [disabled] ="true"
                      [iconOffStyle]="{'font-size': '40px'}" [cancel]="false"></p-rating>
          </div>
        </div>
      </div>
      <div class="col-sm-12">
        Góp ý
      </div>
      <div class="col-sm-12 ui-fluid">
        <textarea pInputTextarea [ngModelOptions]="{standalone: true}" [style]="{'width': '100%'}" maxlength="255"
                  [(ngModel)]="rpFeedbackToHCDV" disabled="true"></textarea>
      </div>
    </div>


    <div class="row row-button">
      <div class="col-sm-4"></div>
      <div class="col-sm-4">
        <p-button class="ui-button-danger" icon="pi pi-times" label="Đóng" (click)="closeDetailsUnit()"></p-button>
      </div>
      <div class="col-sm-4"></div>
    </div>

  </div>

