p-autoComplete {
    width: 100% !important;
}

p-table {
    text-align: center;
}

:host>>>.ui-table>.ui-table-wrapper>table>.ui-table-thead>tr>th {
    padding: 2px 3px !important;
}

:host>>>table>.ui-table-tbody>tr>td.wrapText {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

:host>>>p-paginator>.ui-paginator-bottom>.ui-paginator-pages>a {
    margin-left: 3px !important;
    margin-right: 3px !important;
}

:host>>>div.errorMsg>p-table>.ui-table table {
    width: unset;
}

.customIcon {
    position: absolute;
    top: 9px;
    right: 46px;
    cursor: pointer;
    color: #848484;
}

.customIcon2 {
    position: absolute;
    top: 9px;
    right: 52px;
    cursor: pointer;
    color: #848484;
}

:host>>>p-multiselect>.ui-multiselect>.ui-multiselect-label-container>label.ui-multiselect-label {
    margin-bottom: 0px !important;
}

.customDiv {
    position: absolute;
    width: 78% !important;
    font-size: 15px !important;
    top: 43px !important;
    left: 60px !important;
    z-index: 1000000000000 !important;
    cursor: pointer;
}

:host>>>p-button>button {
    width: 25px !important;
    height: 25px !important;
}

:host>>>p-scrollpanel>.ui-scrollpanel {
    margin-top: -28px !important;
}

:host>>>.no-border>div {
    border: none;
    overflow: unset !important;
    width: 120%;
}

:host>>>div.ui-tree>ul.ui-tree-container {
    overflow: unset;
}

:host>>>p-dialog>.ui-dialog>.ui-dialog-content {
            /*overflow: unset;*/
}

:host>>>p-dialog>.ui-dialog>.ui-dialog-titlebar {
   /* font-weight: 700;
    font-size: 20px;*/
}
.click-link {
    color: dodgerblue;
    border-bottom:1px solid dodgerblue;
    cursor: pointer;
}

.ui-dialog-title {
    text-align: center;
}