<div class="customContainer">
  <div class="container-fluid text-center mt-5">
    <h1 class="text-center">Cấu hình tham số</h1>
  </div>
  <p-tabView>

    <p-tabPanel header='Cấu hình tham số web   '>
    <app-param-web-config></app-param-web-config>
    </p-tabPanel>

    <p-tabPanel header='Cấu hình tham số tiến trình'>
    <app-param-process-config></app-param-process-config>
    </p-tabPanel>

    <p-tabPanel header='Cấu hình loại tham số'>
      <app-param-type-config></app-param-type-config>
    </p-tabPanel>
  </p-tabView>



</div>
