<div style="padding-left: 100px ;">
    <div class="panel panel-default">
        <div>

            <div class="panel-heading" style="padding-top: 50px; color: #4eb8dd ;font-size: 30px;">
                <strong class="text-u-c">
                    <i class="fa fa-th"></i>
                    &nbsp;<label>YÊU CẦU ĐẶT XE</label>
                </strong>
            </div>
            <div class="panel-body padding-xl">
                <div class="ui-g">
                    <!-- 1 -->
                    <label class="ui-g-2 ui-md-2 ui-lg-1 control-label vt-align-left">
                    </label>
                    <div class="ui-g-2 ui-md-2 ui-lg-1 control-label vt-align-left">

                    </div>

                    <label
                            class="ui-g-2ui-md-2 ui-lg-1 control-label vt-align-left">
                    </label>
                    <div class="ui-g-2 ui-md-2 ui-lg-1 control-label vt-align-left">
                        <label>

                        </label>
                    </div>
                    <!-- 3 -->
                    <label
                            class="ui-g-2 ui-md-2 ui-lg-1 control-label vt-align-left">
                    </label>
                    <div class="ui-g-2ui-md-2 ui-lg-1 control-label vt-align-left">
                        <label>

                        </label>
                    </div>
                    <!-- 4 -->
                    <label class="ui-g-2 ui-md-2 ui-lg-1 control-label vt-align-left">
                    </label>
                    <div class="ui-g-2 ui-md-2 ui-lg-1 control-label vt-align-left">
                        <label>

                        </label>
                    </div>
                    <!-- 5 -->
                    <label class="ui-g-2 ui-md-2 ui-lg-1 control-label vt-align-left">
                    </label>
                    <div class="ui-g-2 ui-md-2 ui-lg-1 control-label vt-align-left">
                        <label>

                        </label>
                    </div>
                </div>

                <div class="ui-g">

                    <label class="ui-g-2 ui-md-2 ui-lg-1 control-label vt-align-left">
                    </label>
                    <div class="ui-g-2 ui-md-2 ui-lg-1 control-label vt-align-left">
                        <label>

                        </label>
                    </div>


                    <!-- 2 -->
                    <label class="ui-g-2ui-md-2 ui-lg-1 control-label vt-align-left">
                    </label>
                    <div class="ui-g-2 ui-md-2 ui-lg-1 control-label vt-align-left">
                        <label>

                        </label>
                    </div>
                    <!-- 3 -->
                    <label class="ui-g-2 ui-md-2 ui-lg-1 control-label vt-align-left">
                    </label>
                    <div class="ui-g-2ui-md-2 ui-lg-1 control-label vt-align-left">
                        <label>

                        </label>
                    </div>
                    <!-- 4 -->
                    <label
                            class="ui-g-2 ui-md-2 ui-lg-1 control-label vt-align-left">
                    </label>
                    <div class="ui-g-2 ui-md-2 ui-lg-1 control-label vt-align-left">
                        <label>

                        </label>
                    </div>
                </div>
            </div>

        </div>
    </div>


    <div id="searchPage">
        <div id="searchArea">
            <div class="panel panel-default">

            </div>
        </div>
        <div id="listArea">
            <div class="panel panel-default">

                <div class="col-xl-7 mb-4">
                    <p-tabView>

                        <p-tabPanel header='Yêu cầu VPP'>


                            <app-request-office></app-request-office>

                        </p-tabPanel>
                        <p-tabPanel header='Danh sách yêu cầu'>

                            <app-list-request></app-list-request>


                        </p-tabPanel>

                        <p-tabPanel header='Trình kí đơn vị'>

                            <app-process-unit></app-process-unit>

                        </p-tabPanel>
                        <p-tabPanel header='Duyệt yêu cầu'>
                            <app-confirm-request></app-confirm-request>
                        </p-tabPanel>

                        <p-tabPanel header='Xử lý yêu cầu'>
                            <app-process-request></app-process-request>

                        </p-tabPanel>

                        <!--xac nhan cap phat -->

                        <p-tabPanel header='Xác nhận cấp phát'>
                            <app-confirm-pending></app-confirm-pending>
                        </p-tabPanel>
                    </p-tabView>
                </div>
            </div>
        </div>

    </div>
</div>