<div class="container">
  <div class="container-fluid text-center mt-3">
    <h1>DANH MỤC DỊCH VỤ</h1>
  </div>
  <div class="row mb-3">
    <div class="col-xl-12 mb-3">
      <p-fieldset legend="Thông tin đăng ký">
        <div class="row">
          <div class="col-sm-7">
            <!-- place field -->
            <div class="row mb-2">
              <div class="col-sm-3" style="text-align: left; padding-top: 5px; padding-right: 0px !important; padding-left: 30px !important;">
                Vị trí<span style="color: red;">*</span>:
              </div>
              <div class="col-sm-9 ui-fluid">
                <p-autoComplete #inputPlace [(ngModel)]="placeInfo" [suggestions]="filterPlace"
                  (completeMethod)="loadPlace($event)" dropdown="true" [pKeyFilter]="onlyChar" field="placeName"
                  (ngModelChange)="changePlace()" placeholder="VD: Tòa nhà Keangnam"></p-autoComplete>
              </div>
            </div>
            <!-- service field -->
            <div class="row mb-2">
              <div class="col-sm-3" style="text-align: left; padding-top: 5px; padding-right: 0px !important; padding-left: 30px !important;">
                Tên dịch vụ<span style="color: red;">*</span>:
              </div>
              <div class="col-sm-9 ui-fluid" style="position: relative;">
                <div [@animation]="displayPopup" class="arrowBox">
                  {{messageAlert}}
                </div>
                <p-autoComplete #inputService [(ngModel)]="serviceInfo" [suggestions]="filterService" (completeMethod)="loadService($event)"
                  dropdown="true" [pKeyFilter]="onlyChar" field="serviceName" (ngModelChange)="changeService(null)"
                  (onFocus)="focusServiceName()" maxlength="50" placeholder="VD: Thay màn hình"></p-autoComplete>
                <span *ngIf="serviceInfo != null && (serviceInfo.length > 0 || serviceInfo['serviceName'] !== undefined) && loading2"
                  class="customIcon2 pi pi-times" (click)="clearService($event)"></span>
              </div>
            </div>
            <!-- unit received field -->
            <div class="row mb-2">
              <div class="col-sm-3" style="text-align: left; padding-top: 5px; padding-right: 0px !important; padding-left: 30px !important;">
                Đơn vị đáp ứng<span style="color: red;">*</span>:
              </div>

              <div class="col-sm-9 ui-fluid" style="position: relative;">
                <p-autoComplete #inputUnit [(ngModel)]="unitReceiveInfo" [suggestions]="filterUnitReceive"
                  (completeMethod)="loadUnitReceive($event)" dropdown="true" [pKeyFilter]="onlyChar" field="threeLevelUnit"
                  (ngModelChange)="changeUnitReceiver()" (onSelect)="setSelectUnit($event)" placeholder="VD: Phòng - Cơ -  điện" >
                </p-autoComplete>
              </div>

            </div>
            <!-- time to do field -->
            <div class="row mb-2">
              <div class="col-sm-3" style="text-align: left !important; padding-top: 5px; padding-right: 0px !important; padding-left: 30px !important;">
                Thời gian đáp ứng<span style="color: red;">*</span>:
              </div>
              <div class="col-sm-9 ui-fluid" style="position: relative;">
                <div class="ui-inputgroup">
                  <input #rpTimeInput type="text" pInputText [(ngModel)]="responseTime" (ngModelChange)="changeResponseTime()"
                    pKeyFilter="pint" style="width: 100%; text-align: right !important;" />
                  <span class="ui-inputgroup-addon">giờ</span>
                </div>
              </div>
            </div>
            <!-- status field -->
            <div class="row mb-2">
              <div class="col-sm-3" style="text-align: left; padding-right: 0px !important; padding-left: 30px !important;">
                Trạng thái:
              </div>
              <div class="col-sm-9 ui-fluid">
                <div class="row">
                  <div class="col-sm-6">
                    <p-radioButton value="1" label="Hoạt động" [(ngModel)]="statusService" (onClick)="clickStatusActive()"></p-radioButton>
                  </div>
                  <div class="col-sm-6">
                    <p-radioButton value="0" label="Ngưng hoạt động" [(ngModel)]="statusService" (onClick)="clickStatusDeactive()"></p-radioButton>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- list textbox to select receiver -->
          <div class="col-sm-5 ui-fluid" style="margin-top: -30px;">

            <p-fieldset legend="Người tiếp nhận" [style]="{'height': '230px'}">

              <p-scrollPanel [style]="{width: '100%', height: '142px'}">
                <div #inputGroup >
                    <div  class="row mb-3" *ngFor="let item of listSelectedReceiver; let i=index" style="margin-top: .5em;">

                        <div class="col-sm-10 ui-fluid" style="padding-left: 25px !important;">
                          <p-autoComplete [forceSelection]="true" [(ngModel)]="selectedReceiver[i]" [suggestions]="filterReceiver"
                            (completeMethod)="loadReceiver($event,i)" emptyMessage="Không có người tiếp nhận nào" dropdown="true" field="receiverName" (onKeyUp)="changeReceiver(i)"
                            (onSelect)="selectReceiver(i)"></p-autoComplete>
                        </div>

                        <div class="col-sm-2">
                          <button pButton type="button" icon="pi pi-minus" title="Xóa một textbox" (click)="removeTextbox(i)"
                            [disabled]="listSelectedReceiver != null && listSelectedReceiver.length === 1"></button>
                        </div>
                      </div>
                </div>

                <div class="row">
                  <div class="col-sm-10" style="padding-left: 25px !important;">
                    <button pButton type="button"  icon="pi pi-plus" title="Thêm một textbox" (click)="addTextbox()"
                      style="margin-right: .5em"></button>
                  </div>
                  <div class="col-sm-2" ></div>
                </div>


              </p-scrollPanel>

              <div class="row">
                <div class="col-sm-10" style="padding-left: 25px !important;">
                  <p-checkbox label="Bắt buộc ký lãnh đạo" [(ngModel)]="requireSign" binary="true"></p-checkbox>
                </div>
                <div class="col-sm-2"></div>
              </div>

            </p-fieldset>
          </div>
        </div>
      </p-fieldset>
    </div>
    <div class="col-xl-12">
      <div class="text-center">
        <!-- search button -->
        <button type="button" pButton icon="fa fa-search" iconPos="left" label="Tìm kiếm" (click)="searchData()" style="text-align: center;"></button>
        <!-- refresh button -->
        <button type="button" pButton icon="fa fa-refresh" iconPos="left" label="Làm mới" (click)="resetButton()" style="text-align: center;"></button>
        <!-- add button -->
        <button *ngIf="isAdd; else isUpdate" type="button" pButton icon="fa fa-plus" iconPos="left" label="Thêm" (click)="addData()" style="text-align: center;"></button>
        <button tabindex="0" type="button" pButton icon="fa fa-download" iconPos="left" label="Import file" (click)="openImportExcel()"></button>
        <button tabindex="0" type="button" pButton icon="fa fa-file-excel-o" iconPos="left" label="Xuất file" (click)="exportServiceExcel()"></button>



        <ng-template #isUpdate>
          <!-- update button -->
          <button type="button" pButton icon="fa fa-cog" iconPos="left" label="Cập nhật" (click)="updateData()" style="text-align: center;"></button>
        </ng-template>
      </div>
    </div>
  </div>
  <!-- create table -->
  <div class="row">
    <div class="col-xl-12">
      <div *ngIf="isEmpty; else showData" class="errorMsg">
        <!-- if no data is reasonable -->
        <p-table>
          <ng-template pTemplate="header">
            <tr style="font-weight: bold;">
              <th style="width: 4rem; font-weight: bold;">TT</th>
              <th style="width: 8rem; font-weight: bold;"></th>
              <th style="width: 12rem; font-weight: bold;">Vị trí</th>
              <th style="width: 12rem; font-weight: bold;">Tên dịch vụ</th>
              <th style="width: 12rem; font-weight: bold;">Đơn vị đáp ứng</th>
              <th style="width: 12rem; font-weight: bold;">Thời gian đáp ứng</th>
              <th style="width: 12rem; font-weight: bold;">Người tiếp nhận</th>
              <th style="width: 8rem; font-weight: bold;">Trạng thái</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td [attr.colspan]="8">
                Không có dữ liệu 
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="footer"></ng-template>
        </p-table>
      </div>
      <!-- if has data -->
      <ng-template #showData>
        <p-table #myTable [value]="listSearchMenuService" [lazy]="true" (onPage)="paginate($event)" [paginator]="true"
          [rows]="10" [totalRecords]="totalRecord" [loading]="loading">
          <ng-template pTemplate="header">
            <tr style="font-weight: bold;">
              <th style="width: 2rem; font-weight: bold;">TT</th>
              <th style="width: 4rem; font-weight: bold;">Thao tác</th>
              <th style="width: 8rem; font-weight: bold;">Vị trí</th>
              <th style="width: 8rem; font-weight: bold;">Tên dịch vụ</th>
              <th style="width: 8rem; font-weight: bold;">Đơn vị đáp ứng</th>
              <th style="width: 8rem; font-weight: bold;">Thời gian đáp ứng</th>
              <th style="width: 12rem; font-weight: bold;">Người tiếp nhận</th>
              <th style="width: 8rem; font-weight: bold;">Trạng thái</th>
            </tr>
          </ng-template>
          <ng-template let-ri="rowIndex" pTemplate="body" let-item>
            <tr>
              <td style="width: 2rem;">{{ri+1}}</td>
              <td style="width: 4rem; padding: 2px 1.5px !important;">
                <div class="row">
                  <div class="col-sm-6" style="padding: 3px 5px 3px 0px !important; text-align: right !important;">
                    <p-button icon="pi pi-pencil" title="Sửa" (onClick)="doEdit(item)"></p-button>
                  </div>
                  <div class="col-sm-6" style="padding: 3px 0px 3px 5px !important; text-align: left !important;">
                    <p-button icon="pi pi-trash"title="Xóa" (onClick)="doDelete(item)"></p-button>
                  </div>
                </div>
              </td>
              <td class="wrapText" pTextEllipsis [pTooltip]="item.placeName" style="width: 8rem; text-align: left !important;">
                {{item.placeName}}
              </td>
              <td class="wrapText" pTextEllipsis [pTooltip]="item.serviceName" style="width: 8rem; text-align: left !important;">
                {{item.serviceName}}
              </td>
              <td class="wrapText" pTextEllipsis [pTooltip]="item.detailUnit" style="width: 8rem; text-align: left !important;">
                {{item.unitName}}
              </td>
              <td class="wrapText" pTextEllipsis [pTooltip]="item.responseTime" style="width: 8rem; text-align: right !important;">
                {{item.responseTime}}
              </td>
              <td class="wrapText" pTextEllipsis [pTooltip]="item.receivers" style="width: 8rem; text-align: left !important;">
                {{item.receivers}}
              </td>
              <td class="wrapText" pTextEllipsis [pTooltip]="item.statusService == '1' ? 'Hoạt động' : 'Ngưng hoạt động'"
                style="width: 8rem; text-align: left !important;">
                {{item.statusService == "1" ? "Hoạt động" : "Ngưng hoạt động"}}
              </td>

            </tr>
          </ng-template>
          <ng-template *ngIf="totalRecord != -1" pTemplate="paginatorright">
            <span style="position: absolute; right: 30px; bottom: 6px;">
              {{startRow + 1}} - {{startRow + rowSize}} / {{totalRecord}}
            </span>
          </ng-template>
        </p-table>
      </ng-template>
    </div>
  </div>

  <p-dialog  header="Import file " [(visible)]="showImportForm" [modal]="true" [style]="{width: '350px', minWidth: '200px'}"
             [responsive]="true" [width]="1000" [dismissableMask]="true" [draggable]="false" (onHide)="closeDialog()" appendTo="body">
    <p-fileUpload  #fileUpload  (uploadHandler)="uploadExcel($event)" (onClear)="clearExcel()" (onRemove)="clearExcel()" chooseLabel="Chọn file" uploadLabel="Đồng ý" cancelLabel="Hủy bỏ" customUpload="true"
                   accept=".xls,.xlsx,application/msexcel" maxFileSize="1000000" [files]="uploadedFiles">
      <ng-template pTemplate="content">
        <ul *ngIf="uploadedFiles.length">
          <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
        </ul>
      </ng-template>
    </p-fileUpload>
    <div ui-fluid>
      <button tabindex="0" style="margin-top: 15px; margin-bottom: 15px;" type="button" pButton icon="fa fa-download" iconPos="left" label=" Tải file mẫu "
              (click)="exportTemplateExcel()"></button>
    </div>

    <div ui-fluid>
      <span style="color: red;" class="ui-inputgroup-addon" *ngIf="notiImportFile !== null">{{notiImportFile}}</span>
    </div>
    <div ui-fluid >
      <button *ngIf="notiImportFile !== null && notiImportFile !== 'Format file import không chính xác. Vui lòng kiểm tra lại.' " tabindex="0" style="margin-top: 15px; margin-bottom: 15px;" type="button" pButton icon="fa fa-download" iconPos="left" label="Tải file kết quả"
              (click)="exportImportResult()"></button>
    </div>

  </p-dialog>
</div>