<div class="panel-heading vt-relative">
  <form >
    <div class="col-xl-6 mb-3">
      <div class="row mb-3" style="margin-left: 20px;">
        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-6" style="text-align: left; padding-top: 5px;">Nhân viên HC:</div>
            <div class="col-sm-6 ui-fluid" style="margin-left: -10px; position: relative;">
              <label maxlength="200"  > abc</label>
            </div>
          </div>
        </div>
        <div class="col-sm-12">

          <div class="row">
            <div class="col-sm-6" style="text-align: left; padding-top: 5px;">Tháng kí gửi:</div>
            <div class="col-sm-6 ui-fluid" style="margin-left: -10px; position: relative;">
              <label maxlength="200"  > abc</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="col-sm-12" style="padding-top: 10px;">
  <div class="text-center">
    <!-- confirm button -->
    <button type="button" pButton icon="fa fa-search" iconPos="left" label="Ký VPP tháng"
            style="text-align: center; max-width: 200px;"></button>
  </div>
</div>

<div class="row">
  <div class="col-xl-12">
    <div >
      <!-- if no data is reasonable -->
      <p-table [value]="" [rows]="10" [paginator]="true" [totalRecords]="">
        <ng-template pTemplate="header" style="width:100%">
          <tr style="font-weight: bold;">
            <th style="width: 5%">STT</th>
            <th style="width: 30%">Tên món</th>
            <th style="width: 30%;">Tên bếp</th>
            <th style="width: 30%;">Hoạt động</th>
            <th style="width: 30%;"><p-checkbox binary="true" onChange="selectAll()"></p-checkbox></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td [attr.colspan]="13">
              Không có dữ liệu
            </td>
          </tr>
        </ng-template>
        <ng-template let-ri="rowIndex" pTemplate="body" let-item>
          <tr [pSelectableRow]="item" (click)="selectRow(item);">
            <td style="width: 2rem; padding: 2px 1.5px !important;">{{ri+1}}</td>
            <td style="width: 5rem">{{item.dishName}}</td>
            <td style="width: 18rem; text-align: left !important;">{{item.kitchenName}}</td>
            <td style="width: 2rem; padding: 2px 1.5px !important;">
              <p-checkbox [(ngModel)]="item.status" binary="true" [disabled]="true"></p-checkbox>
            </td>
            <td><p-checkbox name="groupname" value="{{item.dishID}}"  [(ngModel)]="deleteDishIds"></p-checkbox></td>
          </tr>
        </ng-template>
        <ng-template pTemplate="footer"></ng-template>
      </p-table>
    </div>
  </div>
</div>